@charset "UTF-8";
body,html{
	padding: 0;
	overflow-x: hidden;
}
.headline {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}
.vid {
	width: 70%;
	margin-left: 15%;
}
.bg {
	width: 100%;
	background-color: rgba(178,210,232,1.00);
	padding-top: 10px;
	padding-bottom: 10px;
}
.bg2 {
    width: 100%;
    background-color: rgba(198,219,108,1.00);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 20vmin;
}
.title {
	color: #0F173B;
	text-align: center;
	font-family: maven-pro;
	font-style: normal;
	font-weight: 400;
}
.content {
	width: 40%;
	margin-left: 30%;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: justify;
}
.comment {
	color: #666666;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-size: small;
	text-align: center;
	margin-top: -0.5px;
}
